/*
style.css - main stylesheet for jakesherman.github.io
Inspired (and in some cases copied from) ryanboye.com
*/

html, body{
  width:100%;
  height:100%
}

body {
    font-size: 24px;
    font-weight: 200;
    color: #666666;
    position: relative;
    background-color: #f6f6f6;
}

#container{
  background:-webkit-linear-gradient(45deg,#1A282E 0%,#16272B 38%,#133028 65%,#4D2040 100%);
  background:linear-gradient(45deg,#1A282E 0%,#16272B 38%,#133028 65%,#4D2040 100%);
  background:#1b1429;
  background:-webkit-gradient(linear,left bottom,right top,color-stop(0%,#1b1429),color-stop(48%,#0e121a),color-stop(76%,#1d1c1a),color-stop(100%,#1f1f1f));
  background:-webkit-linear-gradient(45deg,#1b1429 0%,#0e121a 48%,#1d1c1a 76%,#1f1f1f 100%);
  background:linear-gradient(45deg,#1b1429 0%,#0e121a 48%,#1d1c1a 76%,#1f1f1f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b1429',endColorstr='#1f1f1f',GradientType=1);
  line-height:40px;
  position:relative;
  padding-top:3%;
  color:#999;min-height:100%;
  padding-bottom:20px;
  transition:padding 1s;
  -webkit-transition:padding 1s;overflow:hidden
}

.row{
  z-index:1;
  position:relative;
  margin-left:7px;
  margin-right:7px;
}

.introduction{
  text-align:center;
}

.introduction h1{
  font-size:70px;
  font-family: 'Lobster Two', cursive;
  color:#ffffff;
  margin-top:0px;
  margin-bottom:40px
}

.statement {
  text-align:center;
  margin-bottom: 30px;
}

.statement h1{
  font-size:35px;
  font-family: 'Raleway', sans-serif;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:50px;
  line-height:140%;
}

.statement p{
  font-family: 'Merriweather', serif;
  font-size:20px;
}

.statement a{
  color:#bfbfbf;
  border-bottom: dashed 1px #666666;
}

.statement a:hover{
  color:#bfbfbf;
  border-bottom: dashed 1px #666666;
  text-decoration:none;
  background: #212121;
}

.jakephoto {
  text-align:center;
  margin-bottom:40px
}

.jakephoto img{
  width:100%;
  max-width:160px
}

a.data:link {
  padding-bottom:3px;
  text-decoration:none;
  color:#E8E8E8;
  border-bottom: none;
  background: rgb(31, 136, 189);
  background: rgba(31, 136, 189, 0.7);
}

a.data:visited {
  padding-bottom:3px;
  text-decoration:none;
  color:#E8E8E8;
  border-bottom: none;
  background: rgb(31, 136, 189);
  background: rgba(31, 136, 189, 0.7);
}

a.data:hover {
  padding-bottom:3px;
  text-decoration:none;
  background: rgb(31, 136, 189);
  background: rgba(31, 136, 189, 1);
}

a.programming:link {
  padding-bottom:3px;
  text-decoration:none;
  color:#E8E8E8;
  border-bottom: none;
  background: rgb(69, 57, 114);
  background: rgba(69, 57, 114, 0.7);
}

a.programming:visited {
  padding-bottom:3px;
  text-decoration:none;
  color:#E8E8E8;
  border-bottom: none;
  background: rgb(69, 57, 114);
  background: rgba(69, 57, 114, 0.7);
}

a.programming:hover {
  padding-bottom:3px;
  text-decoration:none;
  background: rgb(69, 57, 114);
  background: rgba(69, 57, 114, 1);
}

a.music:link {
  padding-bottom:3px;
  border-bottom: none;
  text-decoration:none;
  color:#ffffff;
  background: rgb(245, 82, 25);
  background: rgba(245, 82, 25, 0.8);
}

a.music:visited {
  padding-bottom:3px;
  border-bottom: none;
  text-decoration:none;
  color:#ffffff;
  background: rgb(245, 82, 25);
  background: rgba(245, 82, 25, 0.8);
}

a.music:hover {
  padding-bottom:3px;
  text-decoration:none;
  background: rgb(245, 82, 25);
  background: rgba(245, 82, 25, 1);
}

a.photo:link {
  padding-bottom:3px;
  border-bottom:none;
  text-decoration:none;
  color:#ffffff;
  background: rgb(32, 32, 33);
  background: rgba(32, 32, 33, 0.7);
}

a.photo:visited {
  padding-bottom:3px;
  border-bottom:none;
  text-decoration:none;
  color:#ffffff;
  background: rgb(32, 32, 33);
  background: rgba(32, 32, 33, 0.7);
}

a.photo:hover {
  padding-bottom:3px;
  text-decoration:none;
  background: rgb(32, 32, 33);
  background: rgba(32, 32, 33, 1);
}

.buttons {
  text-align:center;
  margin-top: 10px;
}

.button {
  padding:10px 30px;
  color:#fff;
  border-radius:5px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 3px;
  margin-right: 3px;
  box-shadow: 2px 0px 2px 1px rgba(0.5, 0.5, 0, 0.2);
}

a.button:link {
  color: #fff;
}

a.button:hover {
  color: #fff;
  text-decoration: none;
  outline-offset: 20px;
  opacity: 0.7;
}

a.button:visited {
  color: #fff;
}

#linkedin{
  background-color: #1F88BD;
}

#github{
  background-color:#453972;
}

#soundcloud{
  background-color: #F55219;
}

#flickr{
  background-color: #202021;
}
