/*
style.css - main stylesheet for jakesherman.github.io
Inspired (and in some cases copied from) ryanboye.com
*/

html, body{
  width:100%;
  height:100%
}

body{
  font-size: 20px;
  color: #000000;
  position: relative;
  background-color: #ffffff
}

#container{
  background:#142329;
}

.row{
  z-index:1;
  position:relative
}
